language: java

jdk:
  - oraclejdk7
  - openjdk7

cache:
  directories:
  - $HOME/.m2

before_install:
  - . .travis.sh before_install

before_script:
  - . .travis.sh before_script

script: MAVEN_OPTS="-Xmx128m" mvn test
