Package: helios
Version: [[project.version]]~[[git.commitsCount]].[[timestamp]].[[git.commit.id.describe]][[version_suffix]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: java7-runtime
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Helios Command Line Tools
Distribution: development
