Package: spotify-helios-agent
Version: [[version]]~[[git.commit.id.describe]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: default-jdk, spotify-helios-common
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Spotify Helios Agent
Distribution: development