Package: spotify-helios-agent
Version: [[project.version]]~[[git.commitsCount]].[[timestamp]].[[git.commit.id.describe]][[version_suffix]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: default-jdk, spotify-helios-common
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Spotify Helios Agent
Distribution: development