Package: helios-services
Version: [[version]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: java7-runtime
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Helios services common files
Distribution: development
