Package: helios-solo
Version: [[version]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: docker.io | lxc-docker, helios
Maintainer: Rohan Singh <rohan@spotify.com>
Description: Scripts for running Helios locally
Distribution: development
