Package: helios-solo
Version: [[version]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: docker.io | lxc-docker, helios, jq
Provides: helios-standalone
Conflicts: helios-standalone
Replaces: helios-standalone
Maintainer: Rohan Singh <rohan@spotify.com>
Description: helios-solo provides a local Helios cluster running in a Docker container
Distribution: development
