@version: 3.0

source s_local {
    internal();
    unix-stream("/dev/log" max-connections(4096));
    udp(ip(127.0.0.1));
    tcp(ip(127.0.0.1));
};

destination d_host {
    tcp($host port($port));
};

log {
    source(s_local);
    destination(d_host);
};
