#!/usr/bin/make -f

%:
	dh $@

MVN = mvn -U -X -B -e -Dmaven.repo.local=$$PWD/.m2-repository -s/etc/maven2/spotify-settings.xml

override_dh_installinit:
	dh_installinit -n

build:
	dh build --until dh_auto_build
	DOCKER_ENDPOINT=http://hw3949:4160 $(MVN) package
	# dh_install cannot rename files, so do that here.
	cp `ls target/helios*.jar | grep -v sources | grep -v javadoc | head -n 1` target/spotify-helios.jar
	dh build --remaining


clean:
	dh clean
	$(MVN) clean
