<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{1} %F:%L - %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <appender name="STDERR_NOPEX" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %F:%L - %msg%nopex%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger name="org.apache.curator" level="ERROR" additivity="false">
    <appender-ref ref="STDERR_NOPEX"/>
  </logger>
  <logger name="org.apache.zookeeper" level="ERROR" additivity="false">
    <appender-ref ref="STDERR_NOPEX"/>
  </logger>
  <logger name="com.spotify.hermes" level="ERROR"/>

  <root level="DEBUG">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>