Package: spotify-helios-common
Version: [[project.version]]~[[git.commitsCount]].[[timestamp]].[[git.commit.id.describe]][[version_suffix]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: default-jdk
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Spotify Helios common files
Distribution: development