Package: spotify-helios-common
Version: [[version]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: default-jdk, spotify-helios-common
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Spotify Helios common files
Distribution: development