Package: helios-master
Version: [[project.version]]~[[git.commitsCount]].[[timestamp]].[[git.commit.id.describe]][[version_suffix]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: java7-runtime, helios-services (= [[project.version]]~[[git.commitsCount]].[[timestamp]].[[git.commit.id.describe]][[version_suffix]])
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Helios Master
Distribution: development
