Package: helios-agent
Version: [[version]]
Section: non-free/net
Priority: optional
Architecture: all
Depends: java8-runtime-headless, helios-services (= [[version]])
Maintainer: Daniel Norberg <dano@spotify.com>
Description: Helios Agent
Distribution: development
