[Unit]
Description=Helios agent daemon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/helios-agent-wrapper
ExecStopPost=/bin/sleep 5
User=helios

[Install]
WantedBy=multi-user.target
