<configuration>

  <!-- Note: This logging configuration is ignored by system tests when -DlogToFile=true -->

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{1} %F:%L - %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <appender name="STDERR_NOPEX" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %F:%L - %msg%nopex%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger name="org.apache.curator" level="${externalLoggingLevel:-ERROR}"/>
  <logger name="org.apache.zookeeper" level="${externalLoggingLevel:-ERROR}"/>
  <logger name="org.eclipse.jetty" level="${externalLoggingLevel:-ERROR}"/>
  <logger name="com.spotify.helios" level="${heliosLoggingLevel:-DEBUG}"/>

  <root level="${rootLoggingLevel:-DEBUG}">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
